.App {
  text-align: center;
}

.item-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 40px;
}

.headForHome{
  display: flex;
  justify-content: space-between;
}

.cartButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
