.App {
  text-align: center;
}

.item-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 40px;
}

.headForHome{
  display: flex;
  justify-content: space-between;
}

.cartButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.loginButtons{
  display: flex;
  justify-content: space-evenly;
}

.cartButtons{
  display: flex;
  gap: 10px;
}

.billButtons{
  display: flex;
  justify-content: space-between;
}

.demoCredentials{
  display: flex;
  /* align-items: center; */
  margin-top: 20px;
  gap: 40px;
}